@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Personal Data";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Preuzmite kopiju svih podataka sa vašeg naloga.</p>
</header>
