@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "External Logins";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Pregled i upravljanje eksternim login servisima (Google, Facebook, itd.).</p>
</header>
