@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-Factor Authentication";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Upravljanje dvostrukom autentifikacijom (2FA) za vaš nalog.</p>
</header>
