@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="card shadow-lg rounded-4 p-4 text-center" style="max-width: 450px; width: 100%;">
        <div class="card-body">
            <h2 class="mb-3 text-primary fw-bold">@ViewData["Title"]</h2>
            <hr />
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>
    </div>
</div>
